{% extends 'control/baseLibrarian.html' %}
{% block content %}
<style>
    .frame{
        width:50%;
        margin:auto;
    }
</style>
<div class="container">
    <div class="frame">
        <form action="{% url 'manage:librarian_change_pass' %}" , method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Current password</label>
                <input type="password" name="password" id="" class="form-control" placeholder="Password" required>
                <div class="form-group">
                    <label for="">New password</label>
                    <input type="password" name="new_password" id="" class="form-control" placeholder="New password"
                           required>
                </div>
                <div class="form-group">
                    <label for="">Confirm password</label>
                    <input type="password" name="cnf_password" id="" class="form-control" placeholder="Confirm"
                           required>
                </div>
                {% if message %}
                <div class="form-group text-center">
                    <p style="color: red; font-size: large;">{{ message }}</p>
                </div>
                {% endif %}
                <div class="group text-center">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="{% url 'manage:librarian_index' %}">
                        <button type="button" class="btn btn-danger">Cancel</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}