{% extends 'control/baseLibrarian.html' %}
{% block content %}
<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <td style="text-align: center;">Id</td>
        <td style="text-align: center;">Type</td>
        <td style="text-align: center;">Action</td>
    </tr>
    </thead>
    <tbody>
    {% for i in types %}
    <tr>
        <td class=" text-center">
            {{ forloop.counter }}
        </td>
        <td class=" text-center">
            {{ i.name }}
        </td>
        <td class="text-center">
            <a href="{% url 'manage:edit_type' i.id %}" class="btn btn-success">Edit</a>
            <a href="{% url 'manage:delete_type' i.id %}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'manage:add_category' %}">
    <h3 class="text-center">Add new category</h3>
</a>
{% endblock %}

